.flex-wdw {
  display: flex;
  height: 100vh;
}

.resizable {
  position: relative;
  overflow: hidden;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #777; /* Visual separator for the resizable section */
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px; /* Width of the draggable area */
  cursor: ew-resize;
  background: #464646; /* Make the resizer visible */
  border-left: 1px solid #777; /* Visual separator */
}

.right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Top section in the right container */
.top-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  border-bottom: 3px solid #333; /* Separator between top and bottom sections */
}

/* Bottom section in the right container */
.bottom-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  border-top: 2px solid #777; 
}